name: Import data in staging

on:
  repository_dispatch:
    types: import-data-staging
  schedule:
    - cron: '0 4 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: master

      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: yarn install
        run: yarn install

      - name: yarn start
        run: yarn start
        env:
          FAUNADB_TOKEN: ${{ secrets.FAUNADB_TOKEN_ADMIN_STAGING }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          FAUNADB_ENV: staging

      - name: Upload logs as artifact
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: logs
          path: logs

      - uses: 8398a7/action-slack@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always()
        with:
          status: custom
          fields: workflow,job,commit
          custom_payload: |
            {
              username: '[Nucleus]',
              icon_emoji: ':atom_symbol:',
              attachments: [
                {
                  color: '${{ job.status }}' === 'success' ? '#28a745' : '${{ job.status }}' === 'failure' ? '#dc3545' : '#ffc107',
                  "blocks": [
                    {
                      "type": "section",
                      "text": {
                        "type": "mrkdwn",
                        "text": '${{ job.status }}' === 'success' ? "Data successfully imported in Staging :sunglasses::tada:" : "Error while importing data in Staging"
                      }
                    }
                  ]
                }
              ]
            }
