name: Import data in production

on:
  repository_dispatch:
    types: import-data-production
  schedule:
    - cron: '0 4 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: develop

      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: yarn install
        run: yarn install

      - name: Import groupes
        run: yarn start -g
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL_PRODUCTION }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY_PRODUCTION }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

      - name: Import deputes
        run: yarn start -d
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL_PRODUCTION }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY_PRODUCTION }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

      - name: Import activites
        run: yarn start -a
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL_PRODUCTION }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY_PRODUCTION }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

      - name: Upload logs as artifact
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: logs
          path: logs

      - uses: 8398a7/action-slack@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always()
        with:
          status: custom
          fields: workflow,job,commit
          custom_payload: |
            {
              username: 'Github Actions',
              icon_emoji: ':rocket:',
              attachments: [
                {
                  color: '${{ job.status }}' === 'success' ? '#28a745' : '${{ job.status }}' === 'failure' ? '#dc3545' : '#ffc107',
                  "blocks": [
                    {
                      "type": "section",
                      "text": {
                        "type": "mrkdwn",
                        "text": '${{ job.status }}' === 'success' ? "Data successfully imported in Supabase Production :sunglasses::tada:" : "Error while importing data in Supabase Production"
                      }
                    }
                  ]
                }
              ]
            }
